# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala 
4. Java
5. Julia
6. SQL

**Objectives:**
- Using Headers
- Listing Data Science Languages
- Using Markdown tools

Some of the commo ly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. PyTorch
4. Vegas

|Data Science Tools|
|------------------|
|MySQL             |
|MongoDB|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions

In [18]:
## This is a simple arithemtic express to multiple then add integers
(3*4)+5

17

In [20]:
## This will convert 200 minutes to hours by dividing by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author:
Sanjay Mahendroo